<?xml version="1.0" encoding="UTF-8"?>
<!--根节点-->
<configuration>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="F:/ELK/newlog/logback" />

    <!--滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件-->
      <appender name="DC" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_NAME}/logs/devicecontrol.log</File>
        <encoder>
          <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>${LOG_NAME}/logs/devicecontrol.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
      </appender>

        <!--写入日志到控制台-->
      <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!--输出标志-->
        <Target>System.out</Target>
        <encoder>
          <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>
      </appender>

      <!--写入日志到文件-->
      <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/logs/vod.log</File>
        <encoder>
          <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_HOME}/logs/vod.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
      </appender>


    <!--用来设置某一个包或具体的某一个类的日志打印级别、以及指定appender-->
      <logger name="org.springframework" level="error"/>
      <logger name="com.thunisoft.crs" level="error"/>
      <logger name="jdbc.connection" level="OFF"/>
      <logger name="com.thunisoft.artery" level="error"/>
      <logger name="com.thunisoft.cas.service.devicecontrol" level="debug">
        <appender-ref ref="DC"/>
      </logger>
      <logger name="org.apache" level="error"/>
      <logger name="jdbc.resultset" level="OFF"/>
      <logger name="com.thunisoft.summer" level="warn"/>
      <logger name="org.hibernate" level="error"/>
      <logger name="jdbc.audit" level="OFF"/>
      <logger name="com.thunisoft.test" level="error"/>
      <logger name="jdbc.sqlonly" level="INFO"/>
      <logger name="jdbc.sqltiming" level="DEBUG"/>
      <logger name="org.quartz.simpl" level="error"/>
      <logger name="com.alibaba.dubbo" level="INFO"/>
      <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="DC"/>
      </root>
</configuration>