<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">





    <!-- 以下页面不被拦截 -->
    <http pattern="/login.html" security="none"></http>
    <http pattern="/login_error.html" security="none"></http>




    <!-- 页面拦截规则 -->
    <!--  use-expressions  为是否使用使用 Spring 表达式语言（ SpEL ），默认为true ,如果开启，则拦截的配置应该写成以下形式-->
    <http use-expressions="false">
        <!--表示拦截的界面  /* 表示的是该目录下的资源，只包括本级目录不包括下级目录 -->
        <intercept-url pattern="/*" access="ROLE_USER" />
        <!--开启表单登陆
            login-page ： 指定登陆的页面
            default-target-url ： 指定了成功进行身份验证和授权后默认呈现给用户的页面。
            authentication-failure-url：指定了身份验证失败时跳转到的页面。
            always-use-default-target：指定了是否在身份验证通过后总是跳转到default-target-url属性指定的URL。
        -->
        <form-login login-page="/login.html" default-target-url="/index.html" authentication-failure-url="/login_error.html"
            always-use-default-target="true"
        />
        <!--csrf disabled="true"  关闭csrf ,如果不加会出现错误-->
        <csrf disabled="true"/>

    </http>




    <!-- 配置方式认证    认证管理器 -->
    <authentication-manager>
        <!--认证的提供-->
        <authentication-provider>
            <!--使用的service-->
            <user-service>
                <user name="admin" password="123456" authorities="ROLE_USER"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>


</beans:beans>
